@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
  }

.phone
{
  position: relative;
}
.phone-container{
    background-color: #121B26;
    /* background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url('./wall.jfif'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 620px;
    width: 350px;   
    border: 9px solid black;
    border-radius: 35px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.volume-button{
    position: absolute;
    height: 100px;
    width: 5px;
    background-color: black;
    right: -6px;
    top: 90px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.power-button{
    position: absolute;
    height: 70px;
    width: 7px;
    background-color: black;
    right: -8px;
    top: 220px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}


.fa-regular, .fa-solid, .fa-brands{
    color: #fff;
    font-size: 10px;
}
.fa-battery-half{
    color: red;
}
#time
{
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.top{
    position: absolute;
    background-color: black;
    height: 4px;
    width: 90px;
    top: 33px;
    left: 153px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.notification-bar ul{
    list-style-type: none;
    display: flex;
    padding: 0px;
}   

.notification-bar ul li
{
    margin: 0px 2px 0 2px;
}


.notification-bar{
    display: flex;
    justify-content: space-between;
    padding: 3px 10px 3px 10px;
    background-color: #394249;
}

.circle{
 background-color: black;
 height: 20px;
 width: 20px;
 border-radius: 50%;
 margin-right: 9px;
}


.navigation
{
    position: absolute;
    bottom: 5px;
    left: 0px;
    background-color: rgba(0,0,0,0.2);
    width: 331px;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
}

.navigation ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 30px 5px 30px;
}

.navigation .fa-regular {
    font-size: 13px;
}

.phone-container.twitter{
    background: #1DA1F2;
}
.phone-container.youtube{
    background: white;
}
.phone-container.instagram{
    background: white;
}

.phone-container.whatsapp{
    background: #25D366;
}

.phone-container.facebook{
    background: #4267B2;
}


#main .full.fa-youtube
{
    color: #FF0000;
}

#main .full.fa-instagram
{
    color: #fb3958;
}

#main .full.fa-whatsapp
{
    color: white;
}

#main .full.fa-facebook{
    color:white;
}

#main .full.fa-twitter
{
    color: white;
}

#main{
    height: 100%;
    width: 100%;
}

#main .full
{
    font-size: 45px;
}
.icons
{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.icons ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  
    padding: 0;
}

.icons ul li{
    background-color:#fff;
    padding: 10px;
    margin: 10px;
    border-radius: 250px;
    cursor: pointer;
   
}

.icons .fa-brands{
    font-size: 25px;
}

.icons ul li .fa-twitter{
    color: #1DA1F2;
}

.icons ul li .fa-youtube{
    color:#FF0000;
}

.icons ul li .fa-instagram{
 color: #fb3958;
}
.icons ul li .fa-linkedin{
    color: #0072b1;
}

.icons ul li .fa-whatsapp{
    color:#25D366;
}
.icons ul li .fa-facebook{
    color: #4267B2;
}

.header ul li img{
    height: 30px;
    width: 30px;
    background-size: cover;
    background-position: center;
    background-position: no-repeat;
    border-radius: 50%;
}

.header{
    padding: 1px 5px;
    color: white;
    font-size: 18px;
}

.header ul{
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}

.header ul li .fa-brands, .header ul li .fa-regular{
    font-size: 16px;
}

.header ul li .fa-brands
{
    color: #0072b1; 
}

#main .header.title ul{
    padding: 0px 30px;
}

.rule
{
    height :2px;
    background-color: grey;
    opacity: 0.3;
}

